html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
* {
    -webkit-tap-highlight-color: transparent;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

ol, ul {
    list-style:none;
}

input, select {
    vertical-align:middle;
}
*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;   
}
a{
    color: inherit;
    text-decoration: none;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
html,body{
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    scroll-behavior: smooth;
    background: #02030A;
}
.body{
    min-width: 320px;
}
.body.no-scroll{
    overflow: hidden;
}
.container{
    max-width: 1850px;
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
}
button{
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all .2s ease;
    color: #FFF;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px; /* 140.625% */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}
textarea,
textarea::placeholder,
input,
input::placeholder{

}
textarea,
input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
}
textarea{
    resize: none;
    height: 150px;
}
mark{
    color: #C09E63;
}
main.main{
    overflow: hidden;
}
.title-top{
    display: flex;
    align-items: center;
    gap: 30px;
}
.title{
    font-size: 32px;
    font-weight: 700;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
}
.title-underline{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0 !important;
}
.title-underline::after{
    content: '';
    display: inline-block;
    width: 53px;
    min-width: 53px;
    height: 1px;
    background-color: #C09E63;
}
.title-icon{
    position: relative;
    display: flex;
    align-items: center;
    gap: 55px;
}
.title-icon::before{
    content: '';
    display: inline-block;
    background-image: url('../img/icons/icon-3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 74.774px;
    height: 84.633px;
    min-width: 74px;
}
.btn-next{
    display: flex;
    align-items: center;
    gap: 22px;
    color: #C09E63;
    font-family: "Scheherazade New", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 65%; /* 20.8px */
    text-transform: uppercase;
}
.btn-next::after{
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='15' viewBox='0 0 31 15' fill='none'%3E%3Cpath d='M30.7071 8.07039C31.0976 7.67986 31.0976 7.0467 30.7071 6.65617L24.3431 0.292213C23.9526 -0.0983109 23.3195 -0.0983109 22.9289 0.292213C22.5384 0.682738 22.5384 1.3159 22.9289 1.70643L28.5858 7.36328L22.9289 13.0201C22.5384 13.4107 22.5384 14.0438 22.9289 14.4343C23.3195 14.8249 23.9526 14.8249 24.3431 14.4343L30.7071 8.07039ZM0 7.36328V8.36328H30V7.36328V6.36328H0V7.36328Z' fill='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 31px;
    height: 31px;
    min-width: 31px;
}
.title-underline.title-icon::before{
    margin-bottom: 33px;
}
.title-underline::after{
    margin-top: 23px;
}

:root {
  --anim--hover-time: 400ms;
  --anim--hover-ease: cubic-bezier(0.25, 1, 0.5, 1);
}
.button-wrap {
    display: flex;
    max-width: max-content;
  position: relative;
  z-index: 2;
  border-radius: 1000px;
  background: transparent;
  pointer-events: none;
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
}
.button-shadow {
  --shadow-cuttoff-fix: 2em;
  position: absolute;
  width: calc(100% + var(--shadow-cuttoff-fix));
  height: calc(100% + var(--shadow-cuttoff-fix));
  top: calc(0% - var(--shadow-cuttoff-fix) / 2);
  left: calc(0% - var(--shadow-cuttoff-fix) / 2);
  filter: blur(clamp(2px, 0.125em, 12px));
  -webkit-filter: blur(clamp(2px, 0.125em, 12px));
  -moz-filter: blur(clamp(2px, 0.125em, 12px));
  -ms-filter: blur(clamp(2px, 0.125em, 12px));
  overflow: visible;
  pointer-events: none;
}
.button-shadow::after {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: 1000px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  width: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
  height: calc(100% - var(--shadow-cuttoff-fix) - 0.25em);
  top: calc(var(--shadow-cuttoff-fix) - 0.5em);
  left: calc(var(--shadow-cuttoff-fix) - 0.875em);
  padding: 0.125em;
  box-sizing: border-box;
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
  overflow: visible;
  opacity: 1;
}
.button-wrap a,
.button-wrap button{
  --border-width: clamp(1px, 0.0625em, 4px);
  all: unset;
  cursor: pointer;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  pointer-events: auto;
  z-index: 3;
  background: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  border-radius: 1000px;
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
  backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
  transition: all var(--anim--hover-time) var(--anim--hover-ease);
    width: 100%;
}
.button-wrap a:hover,
.button-wrap button:hover {
  transform: scale(0.975);
  backdrop-filter: blur(0.01em);
  -webkit-backdrop-filter: blur(0.01em);
  -moz-backdrop-filter: blur(0.01em);
  -ms-backdrop-filter: blur(0.01em);
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.15em 0.05em -0.1em rgba(0, 0, 0, 0.25),
    0 0 0.05em 0.1em inset rgba(255, 255, 255, 0.5),
    0 0 0 0 rgba(255, 255, 255, 1);
}
.button-wrap a span, .button-wrap button span {
    min-height: 45px;
    width: 100%;
    max-width: max-content;
    position: relative;
    display: block;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 0em 0.25em 0.05em rgba(0, 0, 0, 0.1);
    transition: all var(--anim--hover-time) var(--anim--hover-ease);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22.5px; /* 140.625% */
    text-transform: uppercase;
}
.button-wrap a:hover span,
.button-wrap button:hover span {
  text-shadow: 0.025em 0.025em 0.025em rgba(0, 0, 0, 0.12);
}
.button-wrap a span::after,
.button-wrap button span::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 1;
  width: calc(100% - var(--border-width));
  height: calc(100% - var(--border-width));
  top: calc(0% + var(--border-width) / 2);
  left: calc(0% + var(--border-width) / 2);
  box-sizing: border-box;
  border-radius: 1000px;
  overflow: clip;
  background: linear-gradient(
    var(--angle-2),
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 40% 50%,
    rgba(255, 255, 255, 0) 55%
  );
  z-index: 3;
  mix-blend-mode: screen;
  pointer-events: none;
  background-size: 200% 200%;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  transition: background-position calc(var(--anim--hover-time) * 1.25)
      var(--anim--hover-ease),
    --angle-2 calc(var(--anim--hover-time) * 1.25) var(--anim--hover-ease);
}
.button-wrap a:hover span::after,
.button-wrap button:hover span::after {
  background-position: 25% 50%;
}
.button-wrap a:active span::after,
.button-wrap button:active span::after {
  background-position: 50% 15%;
  --angle-2: -15deg;
}
@media (hover: none) and (pointer: coarse) {
    .button-wrap a span::after,
    .button-wrap a:active span::after,
    .button-wrap button span::after,
    .button-wrap button:active span::after {
        --angle-2: -45deg;
    }
}
.button-wrap a::after,
.button-wrap button::after {
  content: "";
  position: absolute;
  z-index: 1;
  inset: 0;
  border-radius: 1000px;
  width: calc(100% + var(--border-width));
  height: calc(100% + var(--border-width));
  top: calc(0% - var(--border-width) / 2);
  left: calc(0% - var(--border-width) / 2);
  padding: var(--border-width);
  box-sizing: border-box;
  background: conic-gradient(
      from var(--angle-1) at 50% 50%,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0) 5% 40%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 60% 95%,
      rgba(0, 0, 0, 0.5)
    ),
    linear-gradient(180deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
  mask: linear-gradient(#000 0 0) content-box, linear-gradient(#000 0 0);
  mask-composite: exclude;
  transition: all var(--anim--hover-time) var(--anim--hover-ease),
    --angle-1 500ms ease;
  box-shadow: inset 0 0 0 calc(var(--border-width) / 2) rgba(255, 255, 255, 0.5);
}
.button-wrap a:hover::after,
.button-wrap button:hover::after {
  --angle-1: -125deg;
}
.button-wrap a:active::after,
.button-wrap button:active::after {
  --angle-1: -75deg;
}
@media (hover: none) and (pointer: coarse) {
    .button-wrap a::after,
    .button-wrap a:hover::after,
    .button-wrap a:active::after,
    .button-wrap button::after,
    .button-wrap button:hover::after,
    .button-wrap button:active::after {
    --angle-1: -75deg;
  }
}
.button-wrap:has(a:hover) .button-shadow,
.button-wrap:has(button:hover) .button-shadow {
  filter: blur(clamp(2px, 0.0625em, 6px));
  -webkit-filter: blur(clamp(2px, 0.0625em, 6px));
  -moz-filter: blur(clamp(2px, 0.0625em, 6px));
  -ms-filter: blur(clamp(2px, 0.0625em, 6px));
  transition: filter var(--anim--hover-time) var(--anim--hover-ease);
}
.button-wrap:has(a:hover) .button-shadow::after,
.button-wrap:has(button:hover) .button-shadow::after {
  top: calc(var(--shadow-cuttoff-fix) - 0.875em);
  opacity: 1;
}
.button-wrap:has(a:active),
.button-wrap:has(button:active) {
  transform: rotate3d(1, 0, 0, 25deg);
}
.button-wrap:has(a:active) a,
.button-wrap:has(button:active) button {
  box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.125em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0.225em 0.05em 0 rgba(0, 0, 0, 0.05),
    0 0.25em 0 0 rgba(255, 255, 255, 0.75),
    inset 0 0.25em 0.05em 0 rgba(0, 0, 0, 0.15);
}
.button-wrap:has(a:active) .button-shadow,
.button-wrap:has(button:active) .button-shadow {
  filter: blur(clamp(2px, 0.125em, 12px));
  -webkit-filter: blur(clamp(2px, 0.125em, 12px));
  -moz-filter: blur(clamp(2px, 0.125em, 12px));
  -ms-filter: blur(clamp(2px, 0.125em, 12px));
}
.button-wrap:has(a:active) .button-shadow::after,
.button-wrap:has(button:active) .button-shadow::after {
  top: calc(var(--shadow-cuttoff-fix) - 0.5em);
  opacity: 0.75;
}
.button-wrap:has(a:active) span,
.button-wrap:has(button:active) span {
  text-shadow: 0.025em 0.25em 0.05em rgba(0, 0, 0, 0.12);
}

@media (max-width: 400px) {


}

.hero__discover {
    position: relative;
    display: inline-block;
    width: 210px;
    height: 210px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
}

.circle{
    position: relative;
    z-index: 1;
}
.circle__text {
    font-family: 'Scheherazade New', sans-serif;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 400;
    transform: translate(-50%, -50%);
    letter-spacing: 2px;
    text-transform: uppercase;
    white-space: nowrap;
    color: #C09E63;
}
.circle::before{
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38' height='49' viewBox='0 0 38 49' fill='none'%3E%3Cpath d='M18.8785 0.920898V47.2631M18.8785 47.2631L36.8361 29.2411M18.8785 47.2631L0.920898 29.2411' stroke='%23C09E63' stroke-width='1.84233' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    width: 40px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}



/* header */
.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    right: 0;
    transition: all .2s ease;
}
.header.scrolled{
    background-color: #02030A;
}
.header__inner{
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header__logo{
    display: flex;
    width: 100%;
    max-width: 348px;
    align-items: center;
}
.header__logo img{
    width: 100%;
}
.header__menu{
    width: 100%;
    max-width: 805px;
}
.header__menu ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.header__more-open,
.header__menu-link > a{
    color: #fff;
    display: flex;
    align-items: center;
    transition: all .1s ease;
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 22.5px;
    text-transform: uppercase;
}
.header__more-open:hover,
.header__menu-link > a:hover{
    text-decoration: underline;
}
.header__menu-link.active > a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: -3px;
    right: -3px;
    border: 1px solid #fff;
}
.header__more-open{
    gap: 10px;
}
.header__more-open:after{
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    min-width: 11px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='10' viewBox='0 0 10 10' fill='none'%3E%3Cpath d='M4.36891 9.4641C4.62522 9.72041 5.04079 9.72041 5.29711 9.4641L9.47399 5.28721C9.73031 5.0309 9.73031 4.61533 9.47399 4.35902C9.21768 4.1027 8.80211 4.1027 8.5458 4.35902L4.83301 8.0718L1.12022 4.35902C0.863905 4.1027 0.448337 4.1027 0.192023 4.35902C-0.0642919 4.61533 -0.0642919 5.0309 0.192023 5.28721L4.36891 9.4641ZM4.83301 0L4.17667 -3.0377e-08L4.17667 9L4.83301 9L5.48934 9L5.48934 3.0377e-08L4.83301 0Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header__menu-link:hover .header__more-open::before,
.header__menu-link.active-more .header__more-open::before{
    content: '';
    position: absolute;
    top: calc(100% + 16px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='28' viewBox='0 0 32 28' fill='none'%3E%3Cpath d='M15.9665 0L0 27.6563H31.9338L15.9665 0Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 31.934px;
    min-width: 31.934px;
    height: 27.656px;
    left: 50%;
    transform: translateX(-50%);
}
.header__menu-link:hover .header__more{
    display: flex;
}
.header__inner{
    position: relative;
}
.header__menu-link.active-more .header__more{
    display: flex;
}
.header__more{
    position: absolute;
    z-index: 20;
    top: 100px;
    display: none;
    gap: 22px;
    padding: 20px 22px;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
}
.header__more::before{
    content: '';
    position: absolute;
    top: -43px;
    left: 0;
    right: 0;
    height: 110px;
    z-index: -1;
}
.header__more-link{
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.header__more-image{
    width: 100%;
    display: flex;
    align-items: center;
    height: 640px;
    max-height: calc(var(--vh, 1vh) * 100 - 200px);
}
.header__more-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all .2s ease;
}
.header__more-title{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    right: 10px;
    text-align: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 115%; /* 27.6px */
    text-transform: uppercase;
}
.header__more-link:hover .header__more-image img{
    transform: scale(1.1);
}
.header__buttons{
    display: flex;
    align-items: center;
    gap: 15px;
}
.header__login{
    display: flex;
    align-items: center;
    gap: 12px;
    color: #C09E63;
    font-family: "Scheherazade New", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    text-transform: uppercase;
}
.header__login svg{
    width: 24px;
    height: auto;
}
.header__burger{
    display: none;
}
.header__apply.active .header__more{
    display: flex;
    right: 100px;
    max-width: max-content;
    left: initial;
    width: auto;
    max-width: max-content;
}
.header__apply.active .header__apply-btn button span svg{
    transform: rotate(180deg);
    width: 10px;
    height: auto;
}
.header__apply.active .header__apply-btn button span svg path{
    fill: #C09E63;
}
.header__apply.active .header__apply-btn button span{
    color: #C09E63;
}
.header__apply-btn::before{
    content: '';
    position: absolute;
    top: calc(100% + 10px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='28' viewBox='0 0 32 28' fill='none'%3E%3Cpath d='M15.9665 0L0 27.6563H31.9338L15.9665 0Z' fill='white'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 31.934px;
    min-width: 31.934px;
    height: 27.656px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.header__apply.active .header__apply-btn::before{
    opacity: 1;
}
.header__apply .header__more{
    z-index: 5;
}
.header__apply .header__more .header__more-link{
    max-width: 248px;
}
.header__apply .header__more::before{
    content: none;
}



/* hero */
.hero{
    position: relative;
    overflow: hidden;
    cursor: none;
}
.hero__bg{
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    inset: 0;
}
.hero__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.hero__inner{
    position: relative;
    min-height: 1795px;
}
.hero__title{
    left: 100px;
    position: absolute;
    top: 153px;
    display: flex;
    flex-direction: column;
    font-size: 120px;
    font-weight: 900;
    line-height: 102.97px; /* 85.809% */
    text-transform: uppercase;
}
.hero__title .letter {
  display: inline-block;
  opacity: 0;
  will-change: transform, opacity;
}

.hero__title > span:nth-of-type(1){
    font-size: 240px;
    font-weight: 900;
    line-height: 162.465px;
    display: inline-block
}
.hero__title > span:nth-of-type(2){
    margin-top: 86px;
    margin-left: 127px;
    text-shadow: 8.29px 3.685px 11.515px rgba(0, 0, 0, 0.25);
}
.hero__title > span:nth-of-type(3){
    text-shadow: 10.133px 3.685px 9.488px rgba(0, 0, 0, 0.25);
    margin-top: 56px;
    margin-left: 406px;
}


.hero__descr{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 115%; /* 36.8px */
    top: 560px;
    right: 0;
    max-width: 562px;
}
.hero__descr .letter{
    display: inline-block;
}
.hero__name{
    font-size: 32px;
    font-weight: 400;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
    max-width: 530px;
    position: absolute;
    z-index: 10;
    left: 36px;
    top: 1121px;
}
.letter{
    display: inline-block;
}
.hero__block{
    position: absolute;
    left: 46px;
    top: 607px;
    display: flex;
    align-items: center;
    gap: 50px;
}
.hero__logo{
    display: flex;
    align-items: center;
    width: 122px;
    min-width: 122px;
}
.hero__logo img{
    width: 100%;
}
.hero__conf{
    position: relative;
    color: #C09E63;
    text-align: center;
    font-family: 'Corinthia', sans-serif;
    font-size: 74px;
    font-style: normal;
    font-weight: 400;
    line-height: 61%; /* 45.14px */
    letter-spacing: -2.297px;
}
.hero__conf::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='83' height='147' viewBox='0 0 83 147' fill='none'%3E%3Cpath d='M0 146.865L2.18875 120.381H27.3593L27.3593 40.7107L1.751 30.4236L1.751 19.6987L41.1484 0L58.0018 0L58.0018 120.381L82.2969 120.381L80.1081 146.865H0Z' fill='white' fill-opacity='0.27'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 82.297px;
    height: 146.865px;
}

.hero__icon,
.hero__discover,
.hero__image-bottom,
.hero__image-top{
    position: absolute;
}

.hero__image-top img,
.hero__image-bottom img{
    width: 100%;
}
.hero__image-top{
    width: 1181px;
    top: 199px;
    left: 312px;
    pointer-events: none;
}
.hero__image-bottom{
    top: 944px;
    left: 82px;
    width: 782px;
    z-index: 4;
}
.hero__discover{
    bottom: 123px;
    left: 320px;
}
.hero__icon{
    right: 68px;
    bottom: 70px;
}
.hero__apply {
    top: 800px;
    left: 911px;
}



.apply-btn{
    position: absolute;
    text-align: center;
    font-family: "Scheherazade New", sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 95% */
    letter-spacing: 3.6px;
    text-transform: uppercase;
    max-width: 153px;
    z-index: 20;
}
.mouse-btn-hover {
    position: fixed;
    display: inline-block;
    width: 171px;
    height: 171px;
    min-width: 171px;
    max-width: 171px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    box-shadow: 0 3.685px 3.685px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    z-index: -1;
    --border-width: clamp(1px, 0.0625em, 4px);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0.125em 0.125em rgba(0, 0, 0, 0.05),
    inset 0 -0.125em 0.125em rgba(255, 255, 255, 0.5),
    0 0.25em 0.125em -0.125em rgba(0, 0, 0, 0.2),
    0 0 0.1em 0.25em inset rgba(255, 255, 255, 0.2),
    0 0 0 0 rgba(255, 255, 255, 1);
    -webkit-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -moz-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    -ms-backdrop-filter: blur(clamp(1px, 0.125em, 4px));
    width: 100%;
    pointer-events: none;
    z-index: 90;
    transition: opacity 0.3s;
}
.mouse-btn-hover.hidden {
    opacity: 0;
    pointer-events: none;
}
.glass-container {
    position: absolute;
    display: flex;
    font-weight: 600;
    cursor: pointer;
    /* background: transparent; */
    border-radius: 2rem;
    overflow: hidden;
    /* box-shadow: 0 3.685px 3.685px 0 rgba(0, 0, 0, 0.25); */
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    inset: 0;
}
.glass-filter {
  position: absolute;
  inset: 0;
  z-index: 0;
  backdrop-filter: blur(0px);
  filter: url(#lg-dist);
  isolation: isolate;
}
.glass-overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}




/* whowe */
.whowe{
    margin-top: 100px;
}
.whowe__inner{
    display: flex;
    align-items: start;
    gap: 20px;
    justify-content: space-between;
    position: relative;
}
.whowe__about{
    width: 100%;
    max-width: 501px;
}
.whowe__about-image{
    display: flex;
    align-items: center;
}
.whowe__about-image img{
    width: 100%;
}
.whowe__about-title{
    margin-top: 122px;
    margin-left: 3px;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
}
.whowe__content{
    padding: 62px 70px 166px;
    position: relative;
    width: 100%;
    max-width: 396px;
}
.stories__item-content::before,
.whowe__content::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 41.386px;
    height: 42.053px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M41.3857 42.5215V0.46875H-0.000411987' stroke='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.stories__item-content::after,
.whowe__content::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 41.386px;
    height: 42.053px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M0.5 0V42.0527H41.8862' stroke='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.whowe__title{
    text-align: center;
    position: relative;
}

.whowe__descr{
    margin-top: 32px;
    text-align: center;
    line-height: 29px;
    text-transform: uppercase;
}
.whowe__apply{
    bottom: 32px;
    right: 613px;
    z-index: 10;
    box-shadow: 0 3.685px 3.685px 0 rgba(0, 0, 0, 0.25);
}
.whowe__image{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 555px;
}
.whowe__image img{
    width: 100%;
}



/* wedo */
.wedo{
    margin-top: 100px;
}
.wedo__inner{
    position: relative;
}
.wedo__title{
    margin-left: auto;
}
.wedo__slider{
    margin-top: 57px;
    max-width: 1109px;
    margin-left: auto;
    width: 100%;
}
.wedo__slide-image{
    display: flex;
    align-items: center;
    max-width: max-content;
}
.wedo__slide-image img{
    width: 100%;
}
.wedo__slide-title{
    margin-top: 31px;
    font-size: 24px;
    font-weight: 600;
    line-height: 115%; /* 27.6px */
    text-transform: uppercase;
    max-width: 280px;
}
.wedo__slider .swiper-slide {
  width: auto;          /* подстраивается под контент */
  display: inline-block; /* чтобы контент не растягивал слайд */
}
.wedo__descr{
    color: #4E4E4E;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%; /* 16.1px */
    letter-spacing: 0.98px;
    position: absolute;
    bottom: 21px;
    left: 0;
    max-width: 263px;
}



/* howit */
.howit{
    margin-top: 100px;
}
.howit__inner{
    position: relative;
    display: flex;
    gap: 88px;
}
.howit__image{
    display: flex;
    align-items: center;
    margin-left: -700px;
    max-width: 1821px;
}
.howit__image img{
    width: 100%;
}
.howit__content{
    position: relative;
    width: 100%;
    max-width: 480px;
    padding: 50px 30px 36px;
    height: max-content;
}
.howit__content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 41.386px;
    height: 42.053px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M0.5 42.5527V0.5H41.8862' stroke='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.howit__content::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 41.386px;
    height: 42.053px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M41.3857 0V42.0527H-0.000411987' stroke='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.howit__icon{
    display: flex;
    align-items: center;
    margin: 33px auto 42px;
    width: 100%;
    max-width: 35px;
}
.howit__icon img{
    width: 100%;
}
.howit__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 47px;
    max-width: 244px;
    width: 100%;
    margin: 0 auto;
}
.howit__item-num{
    color: #C09E63;
    text-align: center;
    font-family: "Scheherazade New", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 23px; /* 95.833% */
    letter-spacing: 3.84px;
    text-transform: uppercase;
}
.howit__item-title{
    margin-top: 14px;
    text-align: center;
    font-weight: 400;
    line-height: 29px; /* 120.833% */
    text-transform: uppercase;
}
.howit__discover{
    position: absolute;
    bottom: 150px;
    left: 1100px;
}




/* membership */
.membership{
    margin-top: 128px;
}
.membership__top{
    display: flex;
    align-items: end;
    justify-content: center;
}
.membership__next{
    margin-bottom: 30px;
    display: none;
}
.membership__slider{
    margin-top: 42px;
}
.membership__item {
    width: 100%;
    perspective: 1000px;
    position: relative;
    min-height: 535px;
}
.membership__item-inner {
    transition: transform 0.6s ease;
    transform-style: preserve-3d;
    position: relative;
}
.membership__item:hover .membership__item-inner {
    transform: rotateY(180deg);
}
.membership__item-front,
.membership__item-back {
    backface-visibility: hidden;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    background: linear-gradient(167deg, #080A15 1.29%, #000 96.76%);
}
.membership__item-back {
    transform: rotateY(180deg);
    position: absolute;
    inset: 0;
}
.membership__item-front::before,
.membership__item-front::after,
.membership__item-back::before,
.membership__item-back::after {
  content: '';
  position: absolute;
  width: 41.386px;
  height: 42.053px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.membership__item-front::before,
.membership__item-back::before {
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M0.5 42.5527V0.5H41.8862' stroke='%23C09E63'/%3E%3C/svg%3E");
}
.membership__item-front::after,
.membership__item-back::after {
    bottom: 0;
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='42' height='43' viewBox='0 0 42 43' fill='none'%3E%3Cpath d='M41.3857 0V42.0527H-0.000411987' stroke='%23C09E63'/%3E%3C/svg%3E");
}
.membership__item-front{
    padding: 42px 20px 55px;
}
.membership__item-back{
    padding: 34px 40px 55px;
}
.membership__item-icon{
    display: flex;
    align-items: center;
    margin: 0 auto 35px;
    width: 100%;
    max-width: 121px;
}
.membership__item-icon img{
    width: 100%;
}
.membership__item-title{
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px; /* 120.833% */
    text-transform: uppercase;
}
.membership__item-joining{
    margin-top: 34px;
    text-align: center;
    color: #C09E63;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px; /* 140.625% */
    text-transform: uppercase;
}
.membership__item-price{
    margin-top: 58px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px; /* 185% */
    margin-bottom: 17px;
}
.membership__item-duration{
    color: #C09E63;
    text-align: center;
    font-family: "Scheherazade New", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px; /* 164.286% */
    letter-spacing: 2.52px;
    text-transform: uppercase;
    margin-top: auto;
}
.membership__item-list{
    max-width: 231px;
    margin: 21px auto 0;
}
.membership__item-list + .membership__item-price{
    margin-top: 12px;
}
.membership__item-list ~ .membership__item-duration{
    margin-top: auto;
}
.membership__item-list li + li{
    margin-top: 20px;
}
.custom-list li{
    position: relative;
    padding-left: 22px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 115%; /* 16.1px */
    letter-spacing: 0.98px;
}
.custom-list li::before{
    content: '';
    position: absolute;
    top: 7px;
    left: 9px;
    width: 4px;
    height: 4px;
    min-width: 4px;
    border-radius: 50%;
    background-color: #fff;
}
.membership__descr{
    margin-top: 87px;
    max-width: 897px;
    color: #4E4E4E;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: 0.84px;
}






/* stories */
.stories{
    margin-top: 160px;
    position: relative;
    z-index: 1;
    padding-bottom: 182px;
}
.stories__top{
    margin-left: auto;
    max-width: max-content;
}
.stories__bg{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: -1;
    inset: 0;
    top: 150px;
}
.stories__item-image img,
.stories__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.stories__block{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.stories__item{
    display: flex;
    align-items: start;
    gap: 10px;
    justify-content: space-between;
}
.stories__item-image{
    height: 806px;
    width: 969px;
    display: flex;
    align-items: center;
    margin-right: -60px;
}
.stories__item:nth-of-type(2n){
    flex-direction: row-reverse;
}
.stories__item-content{
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
    padding: 40px 40px 70px;
    position: relative;
    min-height: 565px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.stories__item-title{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 115%; /* 27.6px */
    text-transform: uppercase;
}
.stories__item-list{
    margin-top: 40px;
}
.stories__item-list li{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    text-transform: uppercase;
}
.stories__item-btn{
    position: absolute;
    bottom: 21px;
    right: 41px;
}
.stories__item:nth-of-type(2n) .stories__item-image{
    margin-left: -80px;
    margin-right: 0;
}

.stories__more{
    margin: 251px auto 0;
}
.more-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    color: #C09E63;
    text-align: center;
    font-family: "Scheherazade New", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 65%; /* 20.8px */
    text-transform: uppercase;
    flex-direction: column;
}
.more-btn::after{
    content: '';
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='31' viewBox='0 0 15 31' fill='none'%3E%3Cpath d='M6.65715 30.7071C7.04768 31.0976 7.68084 31.0976 8.07136 30.7071L14.4353 24.3431C14.8259 23.9526 14.8259 23.3195 14.4353 22.9289C14.0448 22.5384 13.4116 22.5384 13.0211 22.9289L7.36426 28.5858L1.7074 22.9289C1.31688 22.5384 0.683714 22.5384 0.29319 22.9289C-0.0973344 23.3195 -0.0973344 23.9526 0.29319 24.3431L6.65715 30.7071ZM7.36426 0H6.36426V30H7.36426H8.36426V0H7.36426Z' fill='%23C09E63'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 17px;
    min-width: 17px;
    height: 30px;
}
.more-btn:hover{
    gap: 20px;
}

/* creditcard */
.creditcard{
    position: relative;
    z-index: 1;
}
.creditcard__bg{
    display: flex;
    align-items: center;
    position: absolute;
    inset: 0;
    z-index: -1;
}
.creditcard__bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.creditcard__inner{
    position: relative;
    min-height: 1000px;
}
.creditcard__title{
    position: absolute;
    top: 70px;
    right: 0;
}
.creditcard__hand{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1174px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
}
.creditcard__hand img{
    width: 100%;
}
.creditcard__descr{
    position: absolute;
    width: 100%;
    bottom: 174px;
    right: 0;
    max-width: 562px;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
}


.teaser{
    margin-top: 61px;
}
.teaser__top{
    margin-left: auto;
    max-width: max-content;
}
.teaser__slider{
    margin-top: 107px;
}

.teaser__slide{
    position: relative;
    z-index: 1;
    height: 607px;
    width: 100%;
    overflow: hidden;
}
.teaser__slide-image{
    display: flex;
    align-items: center;
    inset: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
}
.teaser__slide-image::before{
    content: '';
    background: linear-gradient(0deg, rgba(2, 3, 10, 0.60) 0%, rgba(2, 3, 10, 0.60) 100%);
    position: absolute;
    inset: 0;
    z-index: 1;
    transition: all .2s ease;
}
.teaser__slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .2s ease;
    object-position: center;
}
.teaser__slide-title{
    position: absolute;
    bottom: 70px;
    left: 74px;
    right: 74px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-width: 100%;
}
.teaser__slide:hover .teaser__slide-image::before{
    opacity: 0.5;
}
.teaser__slide:hover .teaser__slide-image img{
    transform: scale(1.1);
}



/* faq */
.faq{
    padding: 250px 0;
    min-height: 1192px;
}
.faq__inner{
    display: flex;
    align-items: center;
    gap: 120px;
}
.faq__image{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 468px;
    margin-top: 140px;
}
.faq__image img{
    width: 100%;
}
.faq__content{
    width: 100%;
    max-width: 1115px;
}
.faq__block{
    width: 100%;
    margin-top: 60px;
}
.faq__item{
    border-top: 1px dotted #4E4E4E;
}
.faq__item:last-of-type{
    border-bottom: 1px dotted #4E4E4E;
}
.faq__item-title{
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: 121.3%; /* 38.816px */
    padding: 20px 0;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    user-select: none;
}
.faq__item-title::after{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    min-width: 18px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='none'%3E%3Cpath d='M25.4639 12.982L0.499967 12.982M12.9819 25.4639L12.9819 0.5' stroke='%23C09E63' stroke-linecap='round'/%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
}
.faq__item-descr{
    display: none;
    margin-top: 20px;
    padding-bottom: 20px;
}
.faq__item.active .faq__item-descr{
    display: inline-block;
}
.faq__item.active .faq__item-title::after{
    transform: rotate(45deg);
}





.footer{
    border-top: 1px solid #fff;
    border-bottom: 11px solid #C09E63;
}
.footer__top{
    padding: 17px 0;
}
.footer__top-inner{
    display: flex;
    align-items: center;
    gap: 95px;
}
.footer__top-logo{
    display: flex;
    align-items: center;
    width: 74px;
    min-width: 74px;
    height: 84px;
}
.footer__top-logo img{
    width: 100%;
}
.footer__top-menu{
    display: flex;
    align-items: center;
    gap: 39px;
    overflow: auto;
    margin-right: -50px;
}
.footer__top-menu li a{
    display: flex;
    align-items: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
    text-wrap: nowrap;
}
.footer__top-menu li a:hover{
    text-decoration: underline;
}

.footer-line{
    display: flex;
    height: 1px;
    width: 100%;
    background-color: #fff;
}
.footer__inner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: stretch;
}
.footer__drops{
    color: #1C1D24;
    font-size: 190px;
    font-style: normal;
    font-weight: 900;
    line-height: 199px; /* 104.737% */
    text-transform: uppercase;
    position: relative;
    max-width: 879px;
}
.footer__drops img {
    position: absolute;
    bottom: 25px;
    right: 60px;
    width: 135.523px;
    height: auto;
}
.footer__about{
    padding-top: 60px;
    padding-left: 86px;
    border-left: 1px solid #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.footer__about-title{
    margin-bottom: 43px;
    font-size: 32px;
    font-weight: 700;
    line-height: 39px; /* 121.875% */
    text-transform: uppercase;
}
.footer__about-descr{
    display: flex;
    max-width: max-content;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 146%; /* 29.2px */
    text-transform: uppercase;
}
a.footer__about-descr:hover{
    text-decoration: underline;
}
.footer__bottom{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0;
}
.footer-line-mobile{
    display: none;
}
.footer__bottom-descr{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px; /* 140.625% */
    text-transform: uppercase;
}
.footer__bottom-content{
    display: flex;
    align-items: center;
    gap: 26px;
}
.footer__bottom-icons{
    display: flex;
    align-items: center;
    gap: 37px;
}
.footer__bottom-icon{
    height: 53px;
    width: auto;
}
.footer__bottom-icon img{
    height: 100%;
    width: auto;
}
.footer__bottom-copy{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px; /* 140.625% */
    text-transform: uppercase;
}
.footer__end{
    display: grid;
    align-items: end;
    grid-template-columns: 1fr 1fr;
    padding: 60px 0;
}

.footer__form-title{
    font-size: 40px;
    font-weight: 900;
    line-height: 22.5px; /* 56.25% */
    text-transform: uppercase;
}
.footer__form-content{
    margin-top: 40px;
}
.footer__form{
    width: 100%;
    max-width: 792px;
}
.footer__form-content{
    display: flex;
    align-items: stretch;
}
.footer__form-input{
    height: auto;
    padding: 11px 23px;
    border: 1px solid #C09E63;
    background: #02030A;
}
.footer__form-input,
.footer__form-input::placeholder{
    color: #FEFEFE;
    font-size: 32px;
    font-weight: 500;
    line-height: 22.5px; /* 70.313% */
}
.footer__form-btn{
    color: #C09E63;
    font-family: "Scheherazade New", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 65%; /* 20.8px */
    text-transform: uppercase;
    min-height: 76px;
    padding: 12px;
    gap: 13px;
    border: 1px solid #C09E63;
    background: #02030A;
    margin-left: -1px;
}
.footer__form-btn svg path{
    transition: all .2s ease;
}
.footer__form-btn svg{
    width: 31px;
    height: auto;
}
.footer__form-btn:hover{
    background-color: #C09E63;
    color: #02030A;
}
.footer__form-btn:hover svg path{
    fill: #02030A;
}
.footer__end-content{
    padding-left: 84px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 40px;
    max-width: 722px;
    margin-bottom: -10px;
}
.footer__menu li a{
    display: flex;
    align-items: center;
    max-width: max-content;
    font-size: 16px;
    font-weight: 700;
    line-height: 105%; /* 16.8px */
    text-transform: uppercase;
}
.footer__menu li a:hover{
    text-decoration: underline;
}
.footer__menu{
    display: flex;
    flex-direction: column;
    gap: 19px;
}
.footer__menu:last-of-type{
    gap: 11px;
}
